@font-face {
    font-family: 'Sacramento';
    src: url("../fonts/Sacramento-Regular.ttf");
}

@font-face {
    font-family: 'Nunito Sans Light';
    src: url("../fonts/NunitoSans-Light.ttf");
}

/*Configurações gerais da página*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(50deg, rgba(56, 70, 197) 0%, rgba(255, 46, 66) 100%);
}

/*Menu horizontal*/
nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: .5s;
}

nav ul {
    list-style: none;
    text-align: left;
}

nav ul li:first-child {
    margin-left: 7%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    font-size: 1.35em;
    text-decoration: none;
    font-family: 'Nunito Sans Light', sans-serif;
    padding: 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilização para menu hamburguer */
input#menu-hamburguer {
    display: none;
}

@media (max-width: 500px) {

    img#img-menu,
    div#bloco-seta {
        display: none;
    }

    /* Isso cria o círculo branco que envolve o menu hamburguer */
    .menu {
        background: #000;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    /* Isso cria uma das linhas do menu hamburguer */
    .hamburguer {
        position: relative;
        display: block;
        background: #FFF;
        width: 30px;
        height: 2px;
        top: 29px;
        left: 15px;
        transition: .5s ease-in-out;
    }

    /* Isso criar as outras duas linhas do menu hamburguer. Eles tem tamanho de 100%, isso fará com que peguem 100% do elemento principal, ou seja, terão o mesmo tamanho */
    .hamburguer:before,
    .hamburguer:after {
        background: #FFF;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    /* As linas ficariam juntas, com essas estilizações as linhas se afastam e ficam com a forma de um menu hamburguer */
    .hamburguer:before {
        top: -10px;
    }

    .hamburguer:after {
        bottom: -10px;
    }

    input {
        display: none;
    }

    input:checked~label .hamburguer {
        transform: rotate(45deg);
    }

    input:checked~label .hamburguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    input:checked~label .hamburguer:after {
        transform: rotate(90deg);
        bottom: 0;
    }

    .menu {
        cursor: pointer;
        box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
        transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
    }

    .menu:hover {
        box-shadow: 0 0 0 8px #000, 0 0 0 8px #000;
    }

    /* animação do menu */
    input:checked~label .menu {
        box-shadow: 0 0 0 130vw #000, 0 0 0 130vh #000;
    }

    /* só aparecer o menu ao clicar */
    input:checked~nav ul {
        opacity: 1;
    }

    /* animação e estilo do menu */
    nav ul {
        position: absolute;
        margin-top: 50%;
        margin-left: 55%;
        transform: translate(-50%, -50%);
        list-style: none;
        font-size: 2.5em;
        opacity: 0;
        transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
        /* O primeiro valor é a duração da transição, depois é o delay, e o cubic-bezier é do Dev tools e ajuda a controlar a animação */
        z-index: 2;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
    }
}

img#img-menu {
    width: 7%;
    margin-top: -50px;
    float: right;
    margin-right: 7%;
}

/* Essa classe será ativada pelo JS do arquivo main.js */
nav.alterar-menu {
    background-color: white;
    box-shadow: 0px 1px 10px #808080;
}

nav.alterar-menu ul li a {
    color: #FF2E42;
}

/*Seção com botão de link para os jogos*/
section#jogos {
    text-align: center;
    margin-bottom: 5%;
    padding-top: 3%;
    /*Usando margim o menu também descia. Foi só mudar para padding que o espaçamento entre os blocos de jogos e menu funcionou*/
}

section#jogos div.bloco-jogo {
    margin-top: 5%;
    display: inline-block;
    background-color: white;
    color: #FF2E42;
    border-radius: 10px;
    width: 35%;
    height: 550px;
    font-family: 'Sacramento', cursive;
}

div.bloco-jogo h2 {
    font-size: 4em;
}

/*retângulo do jogo da forca*/
div#forca {
    margin-right: 20px;
    background: url('../img/jogo-forca.png') no-repeat 50% 80px;
    background-size: 75%;
}

/*retângulo do jogo da velha*/
div#velha {
    margin-left: 20px;
    background: url('../img/jogo-velha.png') no-repeat 50% 80px;
    background-size: 75%;
}

div#digito {
    margin-left: 20px;
    background: url('../img/teclado.png') no-repeat 50% 40px;
    background-size: 85%;
}

/*Botão dos jogos*/
.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FF2E42;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #FF2E42;
    color: white;
    font-size: 1.80em;
    font-family: 'Nunito Sans Light', sans-serif;
    margin-top: 75%;
}

.btn:hover {
    background-color: #C42333;
    border-color: #C42333;
    text-decoration: underline;
}